version: "3.9"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/keys/nytimesbestsellingbooks-c0aa3cec63b7.json
      GCS_BUCKET: nytimes-bucket
    volumes:
      - ./data:/app/data
      - ./keys:/app/keys:ro

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    env_file:
    - .env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/keys/nytimesbestsellingbooks-c0aa3cec63b7.json
      GCS_BUCKET: nytimes-bucket
    volumes:
      - ./data:/app/data
      - ./keys:/app/keys:ro
